/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  border: 0.05rem solid #fff;
}

html,
body {
  height: 100%;
  background-image: url("moonland2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin: 0 auto;
  float: none;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: medium;
}
